doctype html
html
    head
        title= title
        link(rel="stylesheet" ,href="../style.css")
    body
        script(src= '../jquery.js')
        script(src='/socket.io/socket.iojs')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
        ul#messages
        form 
            input#m
            button Send