extends resultatrapportering
block pagecontent
    h2 Kyrkval 2017- Resultat
    div.container
        div.lokal= vasa
            div#vasa
        div.lokal= masthug
            div#masthug
        div.lokal= gardsten
            div#gardsten
        div.lokal= kortedala
            div#kortedala
