doctype html
html
    head
        title= title
        link(rel="stylesheet" ,href="../style.css")
        script(src='/socket.io/socket.io.js')
        script(src='https://code.jquery.com/jquery-1.11.1.js')
    body
        script(src= '../jquery.js')
        block pagecontent
            ul#messages
            form 
                input#m
                button Send
            select
                option(selected disabled) Välj vallokal
                option(value="vasakyrkan") Vasakyrkan
                option(value="masthuggskyrkan") Masthuggskyrkan
                option(value="gårdstenskyrkan") Gårdstenskyrkan
                option(value="kortedalakyrka") Kortedala kyrka